@font-face {
    font-family: head;
    src: url('../fonts/playfair.ttf');
}
@font-face {
    font-family: regular;
    src: url('../fonts/dmsans.ttf');
}

:root{
    --forest-green: #1A5C38;
    --Nigerian-gold: #F5A623;
    --bg-color: #FAFAF8;
    --text-color: #1A1A1A;
    --muted: #888888;
}

.pro, .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.container p{
    font: 1rem regular;
}