{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %} NaijaJobs {% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}
<section class="container">
    <section class="category-box">
        <aside>
            <p>Category</p>
        </aside>
        <aside class="category">
            <button class="selected">All</button>
            <button>Technology / IT</button>
            <button>Finance</button>
            <button>Marketing & sales</button>
            <button>Design & Creative</button>
            <button>Customer service</button>
            <button>Education & Training</button>
            <button>Healthcare</button>
            <button>Engineering</button>
            <button>Administrantion / Office</button>
            <button>Hospitality & Tourism</button>
        </aside>
    </section>
</section>
{% if jobs %}
<section class="job-container">
    <aside>
        <h3>Jobs</h3>
        <div class="jobs">
            {% for job in jobs %}
            <a href="{% url 'job_detail' job.id %}" class="job-card">
                <div class="first">
                    <div>
                        <h4>{{ job.title }}</h4>
                        <p>{{ job.user.employer_profile.company_name }}</p>
                    </div>
                    <form method="post" action="">
                        <button type="button">Apply now</button>
                    </form>
                </div>
                <div class="second">
                    <p>{{ job.user.employer_profile.location }}.</p>
                    <p>{{ job.job_type }}.</p>
                    <p>{{ job.date_posted | naturaltime }}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </aside>
    <aside>
        <h3>Featured companies</h3>
        {% for company in companies %}
            <p>{{ company }}</p>
        {% endfor %}
    </aside>
</section>
{% else %}
    <p>No active jobs available</p>
{% endif %}
{% endblock %}
{% block script %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}