@font-face {
    font-family: head;
    src: url('../fonts/playfair.ttf');
}
@font-face {
    font-family: regular;
    src: url('../fonts/dmsans.ttf');
}

:root{
    --forest-green: #1A5C38;
    --Nigerian-gold: #F5A623;
    --bg-color: #FAFAF8;
    --text-color: #1A1A1A;
    --muted: #888888;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-color);
    font-family: regular;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 50px;
    background-color: var(--forest-green);
}

header nav{
    display: flex;
    z-index: 5;
}

header nav .absolute{
    position: absolute;
    width: max-content;
    top: 120%;
    right: -100px;
    background-color: var(--bg-color);
    z-index: 999;
    font: .9rem regular;
    padding: 10px 20px;
    display: none;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 5px;
    border: 1px solid grey;
}

.absolute.flex{
    display: flex;
}

header nav ul{
    display: flex;
    column-gap: 50px;
}

nav ul li{
    list-style: none;
}

nav ul .log, nav ul .log form button{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    cursor: pointer;
    color: var(--bg-color);
}

nav ul .log form button{
    background-color: transparent;
    color: var(--bg-color);
    border: 0;
    font: 1rem regular;
    column-gap: 5px;
}


nav ul .log:hover{
    scale: 1;
    border: 0;
}

nav ul li:hover{
    scale: 1.09;
    height: 100%;
    border-bottom: 1px solid white;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

nav ul li:last-child a{
    color: var(--Nigerian-gold);
    font-weight: bold;
}

nav ul li:not(:last-child) a:hover{
    text-shadow: 2px 2px 4px var(--Nigerian-gold);
}

.search{
    width: 100%;
    display: flex;
    padding-inline: 100px;
    padding-block: 8px;
    position: relative;
    border-bottom: 1px solid var(--muted);
}

.search label, .search label input{
    width: 100%;
}

#search{
    line-height: 2;
    padding-inline: 10px;
    font-size: 1.1rem;
    border-radius: 50px;
    outline: 0;
    border: 2px solid var(--forest-green);
}

.search button{
    background-color: var(--forest-green);
    color: var(--bg-color);
    outline: 0;
    position: absolute;
    top: 14%;
    right: 7.5%;
    padding: 11px 40px;
    border: 0;
    border-radius: 50px;
    transition: all 0.4s ease-in-out;
    font-family: regular;
    font-weight: 500;
    cursor: pointer;
}

.search button:hover{
    background-color: var(--Nigerian-gold);
    color: var(--text-color);
}

.profile{
    max-width: max-content;
    max-height: 24px;
    cursor: pointer;
    position: relative;
}

.profile:hover{
    background-color: white;
    border-radius: 50px;
    padding: 0px;
    scale: 1;
}
.profile.active{
    background-color: white;
    border-radius: 50px;
    padding: 0px;
}