{% extends "employer/base.html" %}
{% load static %}
{% block title %} Interviews {% endblock %}
{% block style %} <link rel="stylesheet" href="{% static 'css/interviews.css' %}"> {% endblock %}
{% block content %}
    <div class="container">
        <p>This page is still under development</p>
    </div>
        <!-- <div class="pro">
            <p>Don't have a profile?</p>
            <p>Click <a href="{% url 'employer profile' %}">Here</a> to go to and create company's pfrofile</p>
        </div> -->
{% endblock %}