{% extends 'employer/base.html' %}
{% load static %}
{% block title %} Overview {% endblock %}
{% block style %} 
    <link rel="stylesheet" href="{% static 'css/overview.css' %}">
{% endblock %}
{% block content %}
    <section id="container">
        {% if employer %}
            <section class="highlight">
                <section class="job-summary">
                    <a href="{% url 'employer jobs' %}">
                        <p>Total Jobs:</p>
                        <h3>{{ job_counts }}</h3>
                    </a>
                    <a href="{% url 'employer jobs' %}">
                        <p>Active Jobs:</p>
                        <h3>{{ active_jobs }}</h3>
                    </a>
                    <a href="{% url 'employer applications' %}">
                        <p>Total Applications:</p>
                        <h3>{{ total_applicants }}</h3>
                    </a>
                    <a href="{% url 'employer interviews' %}">
                        <p>Interviews Scheduled:</p>
                        <h3>0</h3>
                    </a>
                    <a href="{% url 'employer jobs' %}" class="post">Post a job</a>
                </section>
                <section class="profile">
                    <a href="{% url 'employer profile'%}">
                        <img width="28" src="{% static 'svg/user-black.svg' %}" alt="">
                    </a>
                    <p>{{ request.user.first_name }} {{request.user.last_name}}</p>
                </section>
            </section>
            <section class="applicants">
                <article>
                    <h3>Job Listings</h3>
                    {% if job_counts > 0 %}
                        <section class="jobs">
                            {% for job in jobs %}
                                <form action="{% url 'employer overview' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ job.id }}" name="hidden">
                                    <button class="job-cards" href="">
                                        <input type="hidden" value="{{ job }}">
                                        <header>
                                            <h4>{{ job.title }}</h4>
                                            <p>{{ job.status }}</p>
                                        </header>
                                        <main>
                                            <p>
                                                <img src="{% static 'svg/applications.svg' %}" width="16px" alt="">
                                                {{ job.applicants.count }} Applicants
                                            </p>
                                            <a href="{% url 'employer applications' %}">
                                                <img src="{% static 'svg/applications.svg' %}" width="16px" alt="">
                                                View Applicants
                                            </a>
                                        </main>
                                        <footer>
                                            <p>Posted: {{ job.date_posted|date:"M d, Y" }}</p>
                                            <div class="alt">
                                                <a class="button" href="{% url 'employer jobs' %}">Edit</a>
                                                <a class="button" href="{% url 'employer applications' %}">View Applications</a>
                                            </div>
                                        </footer>
                                    </a>
                                </form>
                            {% endfor %}
                        </section>
                    {% else %}
                    <div class="empty">
                        <p>No jobs posted yet.</p>
                    </div>
                    {% endif %}
                </article>
                <article>
                    <h3 class="green">Applicants <small> (select job to view applicants)</small></h3>
                    {% if applications != "empty" %}
                        <section class="applications">
                            {% for application in applications %}
                                <div class="applicants-card">
                                    <header>
                                        <div class="image">
                                            <img src="{% static 'svg/user-black.svg' %}" width="300" alt="">
                                        </div>
                                        <div class="name">
                                            <h4>{{ application.applicant.first_name }} {{ application.applicant.last_name }}</h4>
                                            <div class="resume">
                                                <p>{{ application.applicant.email }}</p>
                                                <p>{{ application.applicant.username }}</p>
                                            </div>                            
                                            <p>{{ application.job.title }}</p>
                                            <p>{{ application.job.user.company_name }}</p>
                                        </div>
                                    </header>
                                    <footer>
                                        {% if application.status == "pending" %}
                                            <a 
                                            href="{% url 'alter application' application.job.id application.applicant.username %}?alter=accept"
                                            >Accept</a>
                                            <a 
                                            href="{% url 'alter application' application.job.id application.applicant.username %}?alter=reject"
                                            >Reject</a>
                                        {% else %}
                                            {% if application.status == 'Accepted' %}
                                                <button class="accepted">{{ application.status }}</button>
                                            {% else %}
                                                <button class="rejectedted">{{ application.status }}</button>
                                            {% endif %}
                                        {% endif %}
                                    </footer>
                                </div>
                            {% endfor %}
                        </section>
                    {% else %}
                        <div class="empty">
                            <p>No applicants for the job selected</p>
                        </div>
                    {% endif %}
                </article>
            </section>
        {% else %}
            <div class="pro">
                <p>Don't have a profile?</p>
                <p>Click <a href="{% url 'employer profile' %}">Here</a> to go to and create company's pfrofile</p>
            </div>
        {% endif %}
    </section>
{% endblock %}
{% block script %} <script src="{% static 'js/overview.js' %}"></script> {% endblock %}